@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/*colori da usare: giallo: ffc017, verde : #1a8917, nero: #191919*/

header {
  background-color: #ffc017;
  border-bottom: 2px solid #191919;
}

nav {
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #191919;
  padding: 1rem 6rem;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
/*classi per il comportamento della navbar durante lo scroll*/
.scroll-nav {
  background-color: white;
  animation: fade-in 500ms;
}

.green-btn {
  background-color: #1a8917;
  color: white;
  padding: 0.5rem;
  border-radius: 50px;
  animation: fade-in 400ms;
}
/*animazione fade in per la nav e il suo bottone*/
@keyframes fade-in {
  from {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

h1 {
  font-family: "Spectral", serif;
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
}

h5 {
  text-transform: uppercase;
  font-weight: 700;
}

h6 {
  font-weight: 700;
  font-size: 0.9rem;
}

.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu ul li {
  margin-inline: 1rem;
  cursor: pointer;
}

.black-btn {
  background-color: #191919;
  color: white;
  padding: 0.5rem;
  border-radius: 50px;
}

.hero {
  padding-block: 0.5rem;
  padding-left: 6rem;
  display: flex;
  justify-content: space-between;
}

.hero-page {
  width: 34%;
  padding-block: 6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
}

.hero-page a {
  text-decoration: none;
  padding-inline: 2rem;
}
main {
  position: relative;
}

.trending {
  padding: 3rem 6rem;
  border-bottom: 2px solid #19191977;
}

.trending-title {
  display: flex;
  align-items: center;
}
.trending-title img {
  margin-right: 1rem;
}

.trending-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trending-card {
  width: 33%;
  display: flex;
  margin-top: 3rem;
}

.card-number {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #e5e6e6;
}

.info-user {
  display: flex;
  align-items: center;
  justify-content: start;
}

.info-card {
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
}
.info-card h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-block: 1rem;
}

.info-card p {
  font-family: "Spectral", serif;
  color: #757472;
}

.circle-logo {
  border: 1px solid rgba(85, 85, 85, 0.24);
  border-radius: 50%;
  margin-right: 1rem;
}
.square-logo {
  border-radius: 20%;
  margin-right: 1rem;
}

.info-star {
  display: flex;
  align-items: center;
}

.info-star p {
  margin-right: 5px;
}

.post-section {
  width: 100%;
  padding-block: 3rem;
  padding-left: 6rem;
  display: flex;
  justify-content: space-between;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 1rem;
  width: 100%;
}

.post-content {
  display: flex;
  margin-bottom: 2rem;
}

.post-photo {
  width: 220px;
}

.info-post {
  width: 90%;
  display: flex;
  align-items: center;
  position: relative;
}
.post h4 {
  color: #757472;
  margin-block: 0.5rem;
}

.post h2 {
  font-weight: 700;
  margin-top: 0.5rem;
}

.info-post span {
  background-color: #f1f2f2;
  border-radius: 20px;
  padding: 0.1rem 0.5rem;
  font-family: "Roboto", sans-serif;
}

.info-post p {
  font-family: "Spectral", serif;
  color: #757472;
}

.bookmark {
  position: absolute;
  right: 0;
}
.hidden-star {
  display: none;
}

.footer {
  padding: 2rem 6rem;
}

.main-and-footer {
  display: flex;
  justify-content: start;
}

.other-link {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-block: 1rem;
  border-bottom: 2px solid #19191977;
  padding-bottom: 2rem;
}

.other-link p {
  border: 1px solid rgba(85, 85, 85, 0.24);
  padding: 0.6rem 1rem;
  color: #757472;
  cursor: pointer;
}

.about ul {
  width: 75%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about ul li a {
  color: #757472;
  text-decoration: none;
}

/* layout tablet */
@media screen and (min-width: 576px) and (max-width: 1199px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 0.7rem;
  }

  nav {
    padding-inline: 2rem;
    max-width: 100%;
  }
  .menu ul li {
    margin-right: 0.5rem;
  }
  .trending,
  .footer {
    padding-inline: 2rem;
  }

  .hero {
    justify-content: space-between;
    overflow: hidden;
    padding-left: 2rem;
  }

  .hero img {
    width: 50%;
  }

  .hero-page {
    width: 60%;
  }
  .trending-card {
    width: 50%;
    display: flex;
    margin-top: 3rem;
  }

  .post-section {
    width: 100%;
    padding-left: 2rem;
  }
  .post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
  }
  .post-content {
    width: 80%;
  }

  .hidden-star {
    display: initial;
  }

  .main-and-footer {
    flex-direction: column;
  }
  .footer {
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .other-link,
  .about {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .post-photo {
    width: 150px;
  }
  .other-link h4 {
    font-size: 0.5rem;
  }

  .about ul {
    flex-wrap: nowrap;
  }
}

/* layout mobile  */
@media screen and (max-width: 575px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 0.6rem;
  }

  nav {
    padding-inline: 1rem;
  }

  .menu ul li:nth-child(-n + 3) {
    display: none;
  }

  .trending,
  .footer {
    padding-inline: 1rem;
  }
  .hero {
    padding-inline: 1rem;
    padding-block: 2rem;
  }
  .hero img {
    display: none;
  }

  .hero-page {
    width: 100%;
    padding-block: 1rem;
  }

  .hero-page h2 {
    margin-block: 2rem;
  }
  .trending-card {
    width: 100%;
    display: flex;
    margin-top: 2rem;
  }
  .post-photo {
    width: 180px;
  }
  .post-section {
    max-width: 94%;
    padding-left: 1rem;
  }
  .post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 94%;
  }
  .post-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .hidden-star {
    display: initial;
  }

  .main-and-footer {
    flex-direction: column;
  }
  .footer {
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .other-link,
  .about {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .post h4 {
    font-size: 0.9rem;
  }

  .post p {
    font-size: 0.5rem;
  }
}
